*, ::after, ::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --DarkMagenta: #502050;
    --SoftPink: hsl(333, 80%, 67%);


    --GrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

    
}


body{
    background-image: url(/images/bg-pattern-top-desktop.svg),
    url(/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    font-family:  'Spartan', sans-serif;
    font-size: 15px;
    /* padding-top: 73px; */
    min-height: 100vh;
    background-color: var(--White);
}

main{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 133px;
}
.section-header{
    text-align: left;
}
.header-title{
    width: 333px;
    height: 188px;
}

.header-title h1{
    color: var(--DarkMagenta);
    font-size: 1.9rem;
    padding-bottom: 10px;
}
.header-title p {
    
    width: 462px;
}
.section-header{
    display: flex;
    justify-content: space-around;
}
.header-stars p{
    color: va(--DarkMagenta);
    font-weight: 400;
}
.star1{
    width: 379px;
    height: 33px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: var(--LightGrayishMagenta);
    border-radius: 5px;
    margin-bottom: 20px;
}
.star2{
    width: 402px;
    height: 33px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: var(--LightGrayishMagenta);
    border-radius: 5px;
    margin-left: 28px;
    margin-bottom: 20px;
}
.star3{
    width: 417px;
    height: 33px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: var(--LightGrayishMagenta);
    border-radius: 5px;
    margin-left: 52px;
    margin-bottom: 20px;
}
.header-stars img{
    margin-left: 5px;
}
.header-stars p{
    margin-left: 10px;
    color: #502050;
    font-weight: 700;
}
/******************************SECTION-ARTICLE*************************** */
.section-article{
    display: flex;
    justify-content: center;
}
.section-article h2{
    color: var(--White);
    font-size: .7rem;
    font-weight: 500;
    padding-left: 30px;
}
.article1{
    width: 339px;
    height: 202px;
    background-color: var(--DarkMagenta);
    border: 1px solid black;
    text-align: left;
    margin: 15px;
    padding-left: 30px;
    border-radius: 5px;
    
}
.article2{
    width: 339px;
    height: 202px;
    background-color: var(--DarkMagenta);
    border: 1px solid black;
    text-align: left;
    margin: 15px;
    padding-left: 30px;
    border-radius: 5px;
    margin-top: 30px;
}
.article3{
    width: 339px;
    height: 202px;
    background-color: var(--DarkMagenta);
    border: 1px solid black;
    text-align: left;
    margin: 15px;
    padding-left: 30px;
    border-radius: 5px;
    margin-top: 45px;
}
.article-title{
    display: flex;
    align-items: center;
    padding-top: 21px;
}
.article-title img{
    width: 40px;
    border-radius: 50%;
}
.article-title span{
    display: block;
    color: var(--SoftPink);
    font-weight: 400;
}
.section-article p{
    color: var(--LightGrayishMagenta);
    margin-top: 25px;
}
@media all and (max-width: 930px){
    .section-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header-title{
        width: 100%;
    }
    .header-title p{
        width: 100%;
    }
    .header-stars{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .star1{
        width: 100%;
    }
    .star2{
        width: 100%;
        margin-left: 0;
    }
    .star3{
        width: 100%;
        margin-left: 0;
    }
    .section-article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

@media all and (max-width: 380px){
    body{
        background-image: url(/images/bg-pattern-top-mobile.svg),
        url(/images/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat;
        background-position: top left, bottom right;
        padding-left: 10px;
        padding-right: 10px;
    }
    .star1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        
    }
    .star2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    .star3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    .header-stars img{
        padding-bottom: 5px;
    }
}